@model IEnumerable<WebApplication2.Models.Harmonogram>
@{
    ViewData["Title"] = "LISTA ŻOŁNIERZY PEŁNIĄCYCH SŁUŻBĘ W BIEŻĄCYM TYGODNIU";
    <link rel="stylesheet" href="https://db.onlinewebfonts.com/c/7aa6f23718712abc71a57b079ebadb52?family=Korolev+Military+Stencil+W00+Rg">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harmonogram Służb - Twoja Aplikacja</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            font-family: 'Poppins', Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: linear-gradient(45deg, rgba(3, 34, 40, 0.6) 0%, rgba(15, 24, 16, 0.6) 100%), url('../listabg.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: #ecf0f1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100vh;
        }

        header {
            text-align: center;
            padding: 20px 0;
            height: 10%;
        }

        h1 {
            font-family: 'Korolev Military Stencil W00 Rg';
            font-size: 48px;
            text-align: center;
            margin-top: 25px;
            margin-bottom: 25px;
            color: #ffffff;
        }

        .content {
            display: flex;
            height: 90%;
            width: 100%;
            margin: 0 auto;
            box-sizing: border-box;
        }

        footer {
            text-align: center;
            padding: 10px;
            color: #ffffff;
            font-size: 14px;
            position: relative;
            margin-top: auto;
        }

            footer button {
                position: absolute;
                bottom: 10px;
                left: 10px;
                border: none;
                background: none;
                padding: 0;
                cursor: pointer;
            }

                footer button img {
                    width: 25px;
                    height: 24px;
                    display: block;
                }

        table {
            margin-right: 50px;
            margin-left: 50px;
            width: 100%;
            border-collapse: collapse;
        }

            table th, table td {
                padding: 10px;
                text-align: left;
                border: 1px solid #ddd;
            }

            table th {
                background-color: rgba(119, 131, 83, 0.7);
                color: white;
            }

            table td {
                background-color: rgba(172, 174, 165, 0.7);
            }

        th a {
            display: inline-block;
            text-decoration: none;
            margin: 0 2px;
        }

        .fa-arrow-up, .fa-arrow-down {
            font-size: 14px;
            color: #000000;
            margin-left: 5px;
            cursor: pointer;
        }

            .fa-arrow-up:hover, .fa-arrow-down:hover {
                color: #000000;
            }
    </style>
</head>

<body>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>

    <div class="content">
        <table>
            <thead>
                <tr>
                    <th>
                        Data
                        <a href="@Url.Action("ListaTygodniowa", "Dyzurny", new { sortBy = "Data", isDescending = false })">
                            <i class="fa fa-arrow-up"></i>
                        </a>
                        <a href="@Url.Action("ListaTygodniowa", "Dyzurny", new { sortBy = "Data", isDescending = true })">
                            <i class="fa fa-arrow-down"></i>
                        </a>
                    </th>
                    <th>
                        Imię
                        <a href="@Url.Action("ListaTygodniowa", "Dyzurny", new { sortBy = "Imie", isDescending = false })">
                            <i class="fa fa-arrow-up"></i>
                        </a>
                        <a href="@Url.Action("ListaTygodniowa", "Dyzurny", new { sortBy = "Imie", isDescending = true })">
                            <i class="fa fa-arrow-down"></i>
                        </a>
                    </th>
                    <th>
                        Nazwisko
                        <a href="@Url.Action("ListaTygodniowa", "Dyzurny", new { sortBy = "Nazwisko", isDescending = false })">
                            <i class="fa fa-arrow-up"></i>
                        </a>
                        <a href="@Url.Action("ListaTygodniowa", "Dyzurny", new { sortBy = "Nazwisko", isDescending = true })">
                            <i class="fa fa-arrow-down"></i>
                        </a>
                    </th>
                    <th>Służba</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Data.ToString("yyyy-MM-dd")</td>
                        <td>@item.Zolnierz?.Imie</td>
                        <td>@item.Zolnierz?.Nazwisko</td>
                        <td>@item.Sluzba?.Rodzaj</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <footer>
        <p>&copy; 2024 Twoja Aplikacja. Wszystkie prawa zastrzeżone.</p>
        <button onclick="location.href='@Url.Action("DyzurnyView", "Dyzurny")'">
            <img src="../back.png" alt="Powrót" />
        </button>
    </footer>
</body>
</html>
