@model IEnumerable<WebApplication2.Models.Harmonogram>

@{
    ViewData["Title"] = "HARMONOGRAM SŁUŻB";
    <link rel="stylesheet" href="https://db.onlinewebfonts.com/c/7aa6f23718712abc71a57b079ebadb52?family=Korolev+Military+Stencil+W00+Rg">
}


<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/site.css" />
    <style>
        body {
            font-family: 'Poppins', Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: linear-gradient(45deg, rgba(3, 34, 40, 0.6) 0%, rgba(15, 24, 16, 0.6) 100%), url('../harmonogrambg.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: #ecf0f1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100vh;
        }

        header {
            text-align: center;
            padding: 20px 0;
            height: 10%;
        }

        h1 {
            font-family: 'Korolev Military Stencil W00 Rg';
            font-size: 48px;
            text-align: center;
            margin-top: 25px;
            margin-bottom: 25px;
            color: #ffffff;
        }

        footer {
            text-align: center;
            padding: 10px;
            color: #ffffff;
            font-size: 14px;
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 90%;
            width: 100%;
            overflow: auto;
            margin: 0 auto;
            box-sizing: border-box;
        }


        table {
            margin-right: 50px;
            margin-left: 50px;
            width: 100%;
            border-collapse: collapse;
        }

            table th, table td {
                padding: 10px;
                text-align: center;
                border: 1px solid #ddd;
            }

            table th {
                top: 0;
                background-color: rgba(119, 131, 83, 1);
                color: white;
            }

            table td {
                background-color: rgba(172, 174, 165, 0.7);
            }

        /* Styl dla wiadomości o błędach */
        .error-message {
            background-color: rgba(231, 76, 60, 0.1);
            color: #e74c3c;
            padding: 10px;
            border: 1px solid #e74c3c;
            border-radius: 5px;
            margin-bottom: 15px;
        }

        /* Styl linku w kolumnie Przypomnienie */
        .reminder-link {
            color: rgba(119, 131, 83, 1);
            text-decoration: none;
            font-weight: bold;
        }

            .reminder-link:hover {
                color: #34495e;
            }
    </style>
</head>
<body>
    <button onclick="location.href='@Url.Action("Index", "Home")'"
            style="border: none; background: none; padding: 0; cursor: pointer; position: absolute; bottom: 35px; left: 10px;">
        <img src="../back.png" style="width: 25px; height: 24px;" />
    </button>
    <h1>@ViewData["Title"]</h1>
    <div class="content">
        <table>
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Służba</th>
                    <th>Przypomnienie</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Data.ToShortDateString()</td>
                        <td>@(item.Sluzba != null ? item.Sluzba.Rodzaj : "Brak")</td>
                        <td>
                            <button onclick="location.href='@Url.Action("AddReminder", "Schedule", new { idHarmonogram = item.ID_Harmonogram })'"
                                    style="font-family: 'Poppins', Arial, sans-serif;
                                    font-size: 18px;
                                    font-weight: bold;
                                    cursor: pointer;
                                    color: white;
                                    background-color: rgba(119, 131, 83, 1);
                                    border: none;
                                    border-radius: 30px;
                                    padding: 10px 20px;"> Dodaj przypomnienie
                            </button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <footer>
        <p>&copy; 2024 Twoja Aplikacja. Wszystkie prawa zastrzeżone.</p>
    </footer>

    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>
